<ul id="menu">
  <li data-menuanchor="session1"><a href="#session1">session1</a></li>
  <li data-menuanchor="session2"><a href="#session2">session2</a></li>
  <li data-menuanchor="session3"><a href="#session3">session3</a></li>
    <li data-menuanchor="session4"><a href="#session4">session4</a></li>
    <li data-menuanchor="session5"><a href="#session5">session5</a></li>
</ul>

<div id="multiscroll">
    <div class="ms-left">
        <div class="ms-section">セッション1 左</div>
        <div class="ms-section">セッション2 左</div>
        <div class="ms-section">セッション3 左</div>
        <div class="ms-section">セッション4 左</div>
        <div class="ms-section">セッション5 左</div>
    </div>
    <div class="ms-right">
        <div class="ms-section">セッション1 右</div>
        <div class="ms-section">セッション2 右</div>
        <div class="ms-section">セッション3 右</div>
        <div class="ms-section">セッション4 右</div>
        <div class="ms-section">セッション5 右</div>
    </div>
</div>

